.AdminPortal {
    height: 100vh;
}
.AMLogo {
    width: 400px;
    height: auto;
    padding-right: 25px;
}
.AdminFeature {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    background-color: #90af93;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
}
.AdminFeature:hover {
    background-color: #6aa26e;
}

.Feature {
    color: white !important;
}