.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.logo {
  animation: fadeIn 2s ease-in-out; /* Customize animation duration and timing */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
