.imageContainer {
    position: relative;
    display: inline-block;
  }
  
.image {
    width: 100%;
    height: auto;
}

.deleteButton {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    margin: 4px;
    border-radius: 50%;
}
  