.DeletableImage {
    padding: 14px;
}
.deleteButton {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    transform: translate(-2px, 2px);
    border-radius: 50% !important;
    padding: 5px !important;
}
  